.radio {
}
.radio__input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

}

.radio__label {
	display: inline-block;
	padding: 16px 24px;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	border-radius: 36px;
	border: 1px solid #BFBDB2;
	cursor: pointer;
}

@media (max-width: 768px) {
	.radio__label {
		font-size: 12px;
		padding: 12px 15px;
	}
}

.radio__label:hover {
	color: #EFE7BE;
}

.radio__input:focus + .radio__label,
.radio__input:checked + .radio__label {
	color: #241D1C;
	background-color: #F6F3E3;
}

.radio__label_spec {
	padding-left: 52px;
	background-image: var(--bg-image);
	background-size: 30px;
	background-position: 8px;
	background-repeat: no-repeat;
}

@media (max-width: 768px) {
	.radio__label_spec {
		padding-left: 40px;
		background-size: 24px;
	}
}

