.reserve {
	padding-top: 62px;
	padding-bottom: 124px;
}

@media (max-width: 768px) {
	.reserve {
		padding-top: 40px;
		padding-bottom: 80px;
	}
}

@media (max-width: 560px) {
	.reserve {
		padding-top: 32px;
		padding-bottom: 64px;
	}
}
.reserve__title {
	padding-bottom: 24px;
	font-size: 40px;
	text-transform: uppercase;
}
.reserve__list {
	margin-bottom: 72px;
	padding-left: 24px;
	font-size: 16px;
	line-height: 1.5;
	color: #BFBDB2;
}
@media (max-width: 768px) {
	.reserve__list {
		margin-bottom: 40px;
	}
}

@media (max-width: 560px) {
	.reserve__list {
		margin-bottom: 32px;
	}
}

.reserve__item {
	margin-bottom: 8px;
	list-style-type: decimal;
}

.reserve__item:last-child {
	margin-bottom: 0;
}
.reserve__form {
}
.reserve__form-container {
	margin-bottom: 40px;
}

@media (max-width: 768px) {
	.reserve__form-container {
		margin-bottom: 32px;
	}
}

@media (max-width: 560px) {
	.reserve__form-container {
		margin-bottom: 24px;
	}
}
.reserve__fieldset {
	border: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 72px;
	gap: 8px;
}

@media (max-width: 768px) {
	.reserve__fieldset {
		margin-bottom: 40px;
	}
}

@media (max-width: 560px) {
	.reserve__fieldset {
		margin-bottom: 32px;
	}
}

.reserve__fieldset:last-child {
	margin-bottom: 0;
}
.reserve__legend {
	flex-basis: 100%;
	margin-bottom: 24px;
	font-size: 22px;
	line-height: 1;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.reserve__legend {
		font-size: 16px;

	}
}

.reserve__fieldset_sub {
	flex-basis: 100%;
	margin-bottom: 24px;
}

@media (max-width: 768px) {
	.reserve__fieldset_sub {
		margin-bottom: 20px;

	}
}


